.message-window {
    position: fixed;
    bottom: 10px;
    width: 20%;
    right: 18%;
    background: #EBE2E2;
}

.message-header {
    background: #007BFF;
}


.message-container {
    overflow: auto;
    height: 40vh;
}

.message-area {
    overflow: auto;
    height: 40vh;
}

.message-footer {
    display :flex;
}

.message-footer > textarea {
    width: 100%;
    resize: none;
}

.message-footer  button {
    background: #007BFF;
    color: white
}

.navbar-collapse a {
    font-size: 20px;
}

.page-title {
    color: #007BFF;
}

.card-title {
    display: inline;
}

.card-image {
    max-height: 40vh;
}

.container-form {
    width: 70vw;
    margin: 0 auto;
}

.post-text {
    font-size: 20px;
}

.text-area {
    resize: none;
}

.title-post {
    color: #007BFF;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #007BFF;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.float:hover {
    opacity: 0.5;

}

.page-index {
    font-size: 20px;
}


.add-button {
    margin-top: 23px;
}


.comment-body {
    padding: 10px 20px;
    background: #F1EEEE;

}

.comment-body p {
    margin-top: 10px;
}

.comment-body span {
    color: #0079BF;
    font-weight: bold;
}

.card {
    width: 80vw;
    margin: auto;
}

.link-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-size: 20px;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.image-profile {
    max-width: 40vw;
    max-height: 40vh;
}

.delete-icon {
    background: url("../images/trash.png");
    width: 32px;
    height: 32px;
    display: block;
}

.edit-icon {
    background: url("../images/edit-icon.png");
    width: 32px;
    height: 32px;
    display: inline-block;
}


.image-card {
    max-width: 200px;
    max-height: 200px;
}

.container-item {
    background: #EFEBEB;
    padding: 20px;
}


.icon-button {
    background-color: transparent; /* Blue background */
    border: none; /* Remove borders */
    padding: 4px 6px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

@media (min-width: 992px) {
    .card {
        width: 50vw;
    }

    .container-form {
        width: 40vw;
    }
}

