.navbar-collapse a{
    font-size: 20px;
}
.page-title{
    color:#007BFF;
}
.card-image{
  max-height: 40vh;
}
/*.image-post-opened{*/
/*    max-width: 70vw;*/
/*}*/
.container-form{
    width : 40vw;
    margin: 0 auto;
}
.post-text{
    font-size: 20px;
}
.text-area{
    resize: none;
}
.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#007BFF;
    color:#ffffff;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}
.float:hover{
    opacity: 0.5;

}

.page-index{
    font-size: 20px;
}


.add-button{
    margin-top:23px;
}


.comment-body{
  padding:20px;

}
.card {
    width: 80vw;
    margin: auto;
}
@media (min-width: 992px) {
    .card{
        width:50vw;
    }
}
