<div id="message-window" style="position:fixed;bottom: 10px;width: 20%;right:18%;background: #EBE2E2;">-->
            <div style=" background: #007BFF" onclick="
              let messageBody = document.getElementById('message-window-body');

              if(messageBody.style.display === 'block'){
                 messageBody.style.display = 'none';
              }else{
                  messageBody.style.display = 'block';
              }
            ">
                <p class="text-center" style="color: white">Nela Ion</p>
            </div>
            <div id="message-window-body">
                <div style="overflow:auto;height: 40vh">

                </div>
                <div style="display: flex;">
                    <textarea style=" width: 100%;" type="text" id="messageField"></textarea>
                    <button style="background:#007BFF;color: white" onclick="sendMessage()"><i
                                class="far fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
        <script src="Data/MessageManager.js"></script>
